<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active"><%= @tab.title %> </li>
</ul>

<h3>Metrics:</h3>

<p>
  <input type="hidden" id="metricstableupdate" value="Update">
  <input type="button" id="metricstablecheckall" value="Check all" class="btn primary">
  <input type="button" id="metricstableuncheckall" value="Uncheck all" class="btn primary">
</p>

<div class="row show-grid">
  <div class="span8">
    <table id="metricstable" class="bordered-table">
      <tr>
        <th>Name</th>
        <th>Color</th>
        <th>Last value</th>
      </tr>
      <% @tab.metrics.each do |m| %>
          <tr>
            <td>
              <input type="checkbox" name="/<%= @tab.name %>/<%= m.name %>" id="<%= m.id %>">
              <a href="/<%= @tab.name %>/<%= m.name %>/"><%= m.title %></a></td>
            <td><span class="label" style="padding: 4px; background-color: <%= m.color %>">text</span></td>
            <td><%= m.calculate_count %></td>
          </tr>
      <% end %></table>
  </div>
  <div class="span10">
    <div id="plot_placeholder" class="thumbnail" style="height: 500px;"></div>
  </div>
</div>


<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        installChoicePlot('plot_placeholder', 'metricstable');
    });
</script>