<span style="border: 1px solid; margin: 2px; text-align: center; width: 150px; display: inline-block; -moz-border-radius: 19px; border-radius: 19px;">
	<a target="_blank" href="<%= bug.link %>">#<b><%= bug.id %></b>&nbsp;<%= bug.assigned_to %></a>
	<br/>
  <% if bug.need_info_from=="Testing" %><span class="label notice">test?</span><% end %>
  <% if bug.need_info_from=="Development" %><span class="label warning">Dev?</span><% end %>
  <small><%= raw bug.html_severity %> <%= h bug.summary %></small>
</span>

