<span style="border: 1px solid; margin: 2px; text-align: center; width: 150px; display: inline-block; -moz-border-radius: 19px; border-radius: 19px;">
	<a target="_blank" href="<%=bug.link%>">#<b><%=bug.id%></b>&nbsp;<%=bug.assigned_to %></a>
        
	<br/>
	<small><%=raw bug._severity %> <%=h bug.summary %></small>
</span>

