<h1><%= @release.title %></h1>
<h2>Burndown chart</h2>

<%= @dre %>
<%= @dre1 %>

<div class="row show-grid">
  <div class="span11">
    <div id="plot_placeholder" class="thumbnail" style="height:300px; "></div>
  </div>

  <div class="span7">
    <table class="bordered-table zebra-striped" id="release_data">
      <thead>
      <tr>
        <th>Start</th>
        <th>Stop [<i>plan</i>]</th>
        <th>Stop [actual]</th>
      </tr>
      </thead>
      <tr>
        <td><%= @release.start %></td>
        <td><%= @release.plan_stop %></td>
        <td style="color: red"><%= @release.stop %></td>
      </tr>
    </table>

    <table class="bordered-table zebra-striped" id="release_metric">
      <thead>
      <tr>
        <th><i>DRE</i></th>
        <th>Full</th>
        <th>@Release</th>
        <th>8 week after</th>
      </tr>
      </thead>
      <tr>
        <th>All bugs</th>
        <td><%= @release.dreType(1) %></td>
        <td><%= @release.dreType(3) %></td>
        <td><%= @release.dreType(5) %></td>
      </tr>
      <tr>
        <th>Serious</th>
        <td><%= @release.dreType(2) %></td>
        <td><%= @release.dreType(4) %></td>
        <td><%= @release.dreType(6) %></td>
      </tr>
    </table>

    <table class="bordered-table zebra-striped" id="team_plan">
      <thead>
      <tr>
        <th>Team</th>
        <th>plan</th>
        <th>fixed</th>
        <th>solved</th>
        <th>unfixed</th>
      </tr>
      </thead>

      <tr class="data">
        <td>Total</td>  <%= tdval "plan" %>       <%= tdval "fixed" %>      <%= tdval "solved" %>       <%= tdval "unfixed" %>
      </tr>
      <tr class="data">
        <td>Java</td>   <%= tdval "planjava" %>   <%= tdval "fixedjava" %>  <%= tdval "solvedjava" %>  <%= tdval "unfixedjava" %>
      </tr>
      <tr class="data">
        <td>Oracle</td> <%= tdval "planoracle" %><%= tdval "fixedoracle" %> <%= tdval "solvedoracle" %><%= tdval "unfixedoracle" %>
      </tr>
      <tr class="data">
        <td>C++</td>    <%= tdval "plancpp" %>    <%= tdval "fixedcpp" %>   <%= tdval "solvedcpp" %>   <%= tdval "unfixedcpp" %>
      </tr>
    </table>
    <small>click at row to see diagram</small>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#team_plan tr').click(function (event) {
                $('#team_plan tr.selected').toggleClass("selected"); // clear old selection
                $(this).toggleClass("selected"); // new selection
            });

            installReleasePlot('plot_placeholder', 'team_plan', '<%= @release.start %>', '<%= @release.stop %>');
//            testReleasePlot('plot_placeholder', 'team_plan', '<%= @release.start %>', '<%= @release.stop %>');

            $($('#team_plan tr')[1]).click(); // autoselect first row
        });
    </script>
  </div>
</div>