<%= render :partial => "shared/header" %>

<div class="container-fluid">
  <div class="sidebar">
    <div class="well">
      <% releases.each do |r| %>
          <h5><a href="/release/<%= r.name %>/"><%= r.title %></a></h5>
          <% if (@release && @release.id==r.id) %>
              <ul>
                <% r.sprints.each do |s|
                  flag = (s.id == @sprint.id) ? ' class="label warning"' : '' if @sprint
                %>
                    <li<%= raw flag %>><a href="/sprint/<%= s.name %>/"><%= s.title %></a></li>
                <% end %>
              </ul>
          <% end %>
      <% end %>

    </div>
  </div>

  <div class="content">
    <div class="row">
      <div class="span18">

        <%= yield %>

      </div>
    </div>

    <footer>
      <p>&copy; radiant</p>
    </footer>
  </div>
</div>

<%= render :partial => "shared/footer" %>
